body{    
    background-color: #272727;
    /* overflow:hidden;  */
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
a,  
a:visited,
a:focus{
    /* color:#014C8C; */
    color: #978c8c99;    
    text-decoration: none;
}
a:hover,
a:active{
    color: white;
    text-decoration: none;
}
#head{
    float: right;
    color: white;
    padding-bottom: 13px;
    padding-top:12px; 
    text-align: right;
    font-size: 20px;
}
#comName{
    color: white;
    /* background-color: #272727; */
    font-family:'Playfair Display', serif;
    font-size:40px; 
    padding-top:8px;
    padding-left:30px;  
    /* padding-bottom:10px;  */
    font-style: italic;
    
}
.mbar{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px; 
    font-family: 'Lato','Times New Roman', Times, serif;
    font-size: 20px; 
    font-style:normal; 
    transition: all .4s ease-in-out 0s;
}
#backdrop{
    /* background-color: rgba(46, 46, 46, 0.8); */
    margin: 0px;
    padding:15px;
    width: 100%;
    height: 89.64px ;
    /* background: rgba(43, 43, 43, 0.6); */
    color: rgb(255, 255, 255);
    /* width: 13%; */
}
footer{
    padding: 4px;
    text-align: center;
}
.sm{
    padding:15px;
}
#lic{
    color: #978c8c99;
    text-align: center;
}
/* End of base CSS */

#gold::before{
    background-color:#FFD700;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

#gold{
    padding-top: 30px;
    color: 	#FFD700;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
    letter-spacing: 2px;
}
#gold::after{
    background-color:#FFD700;
    content: "";
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.ben-desc{
    color: white;
    letter-spacing: 1px;
    text-align: center;
}
.ben-desc img{
    display: block;
    margin: auto;
}
#desc{
    line-height: 1.2em;
    margin: 0.2em 0 0; 
    display:block;
    text-align: center;
    padding-top:0;
    padding-bottom: 20px;
    font-size: 13px;
    margin: 0;
    color: rgba(175, 175, 175,0.5);
}
#silver::before{
    background-color:#C0C0C0;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

#silver{
    padding-top: 30px;
    color: 	#C0C0C0;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
    letter-spacing: 2px;
}
#silver::after{
    background-color:#C0C0C0;
    content: "";
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
#bronze::before{
    background-color:#c2a661;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

#bronze{
    padding-top: 30px;
    color: 	#c2a661;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
    letter-spacing: 2px;
}
#bronze::after{
    background-color:#c2a661;
    content: "";
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}
.imgContainer{
    float: left;
}