body{    
    background-color: #272727;
    /* overflow:hidden;  */
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
a,  
a:visited,
a:focus{
    /* color:#014C8C; */
    color: #978c8c99;    
    text-decoration: none;
}
a:hover,
a:active{
    color: white;
    text-decoration: none;
}
#head{
    float: right;
    color: white;
    padding-bottom: 13px;
    padding-top:12px; 
    text-align: right;
    font-size: 20px;
}
#comName{
    color: white;
    /* background-color: #272727; */
    font-family:'Playfair Display', serif;
    font-size:40px; 
    padding-top:8px;
    padding-left:30px;  
    text-align: left;
    /* padding-bottom:10px;  */
    font-style: italic;
    
}
.mbar{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px; 
    font-family: 'Lato','Times New Roman', Times, serif;
    font-size: 20px; 
    font-style:normal; 
    transition: all .4s ease-in-out 0s;
}
#backdrop{
    /* background-color: rgba(46, 46, 46, 0.8); */
    margin: 0px;
    padding:15px;
    width: 100%;
    height: 89.64px ;
    /* background: rgba(43, 43, 43, 0.6); */
    color: rgb(255, 255, 255);
    /* width: 13%; */
}
footer{
    padding: 4px;
    text-align: center;
}
.sm{
    padding:15px;
}
#lic{
    color: #978c8c99;
    text-align: center;
}
/* End of base CSS */
/* *, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */

.form {
  /* background: rgba(19, 35, 47, 0.9); */
  background: rgba(11, 48, 77, 0.9);  
  /* background: white; */
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #1DA1F2;
  color: #ffffff;
}
.tab-group .active a {
  background: #979797;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 22px;
}.req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1DA1F2;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1DA1F2;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* -webkit-appearance: none; */
}
.button:hover, .button:focus {
  background: #1DA1F2;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
#birthday{
  color: #868e96;
  padding-top: 0px;
}
::-webkit-datetime-edit-text { color: #868e96; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #868e96; }
::-webkit-datetime-edit-day-field { color: #868e96; }
::-webkit-datetime-edit-year-field { color: #868e96; }
::-webkit-calendar-picker-indicator { background: #15242E; }
