body{    
    background-color: #272727;
    /* overflow:hidden;  */
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent*/
} 
a,  
a:visited,
a:focus{
    /* color:#014C8C; */
    color: #978c8c99;    
    text-decoration: none;
}
a:hover, a:active{
    /* color: white; */
    text-decoration: none;
}
#head{
    float: right;
    color: white;
    padding-bottom: 13px;
    padding-top:12px; 
    text-align: right;
    font-size: 20px;
}
#comName{
    color: white;
    /* background-color: #272727; */
    font-family:'Playfair Display', serif;
    font-size:40px; 
    padding-top:8px;
    padding-left:30px;  
    /* padding-bottom:10px;  */
    font-style: italic;
    
}
.mbar{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px; 
    font-family: 'Lato','Times New Roman', Times, serif;
    font-size: 20px; 
    font-style:normal; 
    transition: all .4s ease-in-out 0s;
}
#backdrop{
    /* background-color: rgba(46, 46, 46, 0.8); */
    margin: 0px;
    padding:15px;
    width: 100%;
    height: 89.64px ;
    /* background: rgba(43, 43, 43, 0.6); */
    color: rgb(255, 255, 255);
    /* width: 13%; */
}
/* End of Base CSS */
#imageslider img{
    /* align-content: center;
    padding-top: 50px;
    padding-left:100px;  */
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    
}

#main{
    /* background-size:cover;   */
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 600px;  
    margin: auto;
    font-family: 'Ubuntu','Times New Roman', Times, serif;
}
#main img{
    /* background-image: url('../images/tclogo1.png');
    background-attachment: fixed; */
    float: right;
    padding: 0px;
    opacity: 0.3;
    filter: alpha(opacity=30); 
    display: block;
    margin: 0 auto;
} 
/* #main{
    background-image: url('../images/tclogo1.png');
    background-position: center;
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),('../images/tclogo1.png');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
} */
.cname{
    color: white;
    /* background-color: #272727; */
    font-family:'Playfair Display', serif;
    /* padding-top:8px;
    padding-left:30px;   */
    /* padding-bottom:10px;  */
    font-style: italic;
} 
#footer{
    font-size: 12px;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    color: rgb(167, 167, 167);
}

/* #back{
    background-color: rgb(39, 39, 39);  
    margin-bottom: 0px; 
    color: white;
    text-align: left;
} */
/* border: 10px solid rgb(50, 50, 50); */

/* #back img{
    align-content: center;
    margin: auto;
    width: 60%;
    height: 50%;
    padding: 0px;
    display: block;
} */
/* border: 10px solid rgb(50, 50, 50); */
.cover {
  object-fit: cover;
  width: 50px;
  height: 100px;
}
#about{
    color: white;
}
#about h1{

    font-size: 50px;
    text-align: center;
    /* text-decoration: underline; */
    font-family: ;
    padding: 30px;
    margin: 20px;
    
}
.foot{
    color: white;
}
input[type=email]{
    align-content: left;
    width: 100%;
    margin-bottom: 10px;
}
button[type=submit]{
    align-content: left;
    width:100%;
}
#lic{
    color: #978c8c99;
    text-align: center;
}
footer{
    text-align: center;
}
#map{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
    color:black;
    /* background-color:yellow;  */
}
.sm{
    padding:15px;
}
